.hidden.menu, .logo {
    display: none;
}

.banner {
    background: url(../images/banner1.jpg) no-repeat fixed 0 0%/cover;
    min-height: 700px;
    padding: 1em 0;
}

.masthead {
    padding: 1em 0;
    margin-left: 0.5em;
    margin-right: 1em;
    font-size: 1.7em;
    font-weight: normal;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 4em;

}
